{% extends "gallery/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
	<div class="media-body">
		<div class="row text-center">
			<img height="300" width="300" class="mx-auto d-block" src="{{image.Coloring_Page.url}}">
			<form class="my-auto"  method="POST" enctype="multipart/form-data">
				<div class="my-auto  align-items-center">
					{% csrf_token %}
					<fieldset class="form-group">
						<legend class="border-bottom mb-4">Adjust Settings</legend>
						{{ form|crispy }}
					</fieldset>
					<div class="form-group">
						<button class="btn btn-outline-info" type="submit">Adjust</button>
					</div>
				</div>
			</form>
		</div>
	</div>

</div>
{% endblock content %}